//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
html
  head
    title #{title} Reporte
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
    p #{year + "/" + month + "/" + day}     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  #{nombreAutoridad} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #{tipoReporte} 
    p #{reportes}
    .container
    div
        table(cellspacing="5" width='100%')
            tr
                td(align="center")  <img src="https://cdn.oem.com.mx/elsoldeparral/2018/01/SHCP-615x346.jpg" height="200" width="400"/>  <img src="https://tramitesdigitales.sat.gob.mx/SIPRED.Monitor.Externo/images/logoH_col.svg" height="200" width="200"/>
            tr
                td(align="right") Administracion General de Recursos y Servicios. <br> Administracion Central de Destino de Bienes. <br> Administracion de Destino de Bienes
    .container
        table(border="1" width='100%')
            tr
                td(width='100') Oficio
                td(width='700')
                td()
            tr
                td(width='100') Asunto
                td(width='700') Se remite documentacion para pago FACLA
                td()
            tr
                td(width='100')
                td(width='700')
                td(align="right") Ciudad de México, dd de MM de yyyy
            tr
                td(width='800' colspan="2") Lic. Gloria del Socorro López Esquivel
                td(align="right")
            tr
                td(width='800' colspan="2") Administradora  de Fideicomisos "4".
                td(align="right")
            tr
                td(width='800' colspan="2") P r e s e n t e.
                td(align="right")
      


    .container
        table(border="1" width='100%')
            tr
                td(width='100') En relacion con el "Servicio Lógisico para la Operacion de las Autoridades Aduaneras, Fiscales y Administrativas 2017-2019" que se paga mediante el Fideicomiso Público para Administrar la Contraprestacion del Articulo 16 de la Ley Aduanera , anexo remito a usted el Reporte Consolidaddo de Recepcion de Servicios , así como los documentos comprobatorios e informacion que a continuacion se detalla, a efecto de que tenga a bien tramitar el pago.
    .container
        table(border="1" width='100%')
            tr
                td(width='25%') No. Id Proyecto XX-XXX.XX
                td(width='25%') No. Id Acuerdo XX XX/XX/XX
                td(width='25%') No. Id Provedor XXXXX
                td(width='25%') No. Id Contrato XXXXX
            tr
                td(width='25%') Nombre del Beneficiario
                td(width='75%' colspan="3") #################### S.A de CV
       
    .container
        table(border="1" width='100%')
            tr
                td() Tipo Servicio
                td() Factura
                td() No. ID Pedido
                td() No. ID Recepción
                td(colspan="2") Importe por Factura
            tr
                td(rowspan="4") (0)####################
                td(rowspan="4") (0.1)#-#####
                td() (1)####
                td() (2)####
                td() (3)$ 00.00
                td() (4) Numero a Texto
            tr
                td(colspan="2") IVA
                td() (5)$ 00.00
                td() (6) Numero a Texto
            tr
                td(colspan="2") Retención 4%
                td() (5)$ 00.00
                td() (6) Numero a Texto
            tr
                td(colspan="2") Importe Factura
                td() (7)$ 00.00
                td() (8) Numero a Texto
            tr
                td() Tipo de Moneda
                td() (9)#########
                td() PesosPeriodo del Servicio
                td(colspan="3") (10)#########
            tr
                td() No. Contrato o Pedido
                td(colspan="5") (11)#############
            tr
                td() No. Convenio modificado
                td(colspan="5") (12)#############
            tr
                td() Fecha de recepcion de comprobantes
                td(colspan="2") (13)##/##/####
                td() Fecha de limite de pago
                td(colspan="2") (14)########
            tr
                td() Capítulo de Gasto
                td(colspan="2") (15)######
                td() Tipo de Pago
                td(colspan="2") (16)########
            tr
                td() Nombre de la unidad Administrativa
                td(colspan="5") (17)#############
            tr
                td(colspan="6" align="center") CANTIDAD TOTAL DE DOCUMENTOS QUE SE ANEXAN
            tr    
                td() Documentos
                td() Original
                td() Copia
                td() Documentos
                td() Original
                td() Copia
            tr    
                td() Factura o Recibo
                td()
                td()
                td() Acta de Entrega-Recepcion
                td()
                td()
            tr    
                td() Contrato
                td()
                td()
                td() Póliza de Responsabilidad Civil
                td()
                td()
            tr    
                td() Anexo de contrato
                td()
                td()
                td() Carta de Defectos  y Vicios Ocultos
                td()
                td()
            tr    
                td() Convenio de Confidencialidad
                td()
                td()
                td() Fianza de cumplimiento
                td()
                td()  
            tr    
                td() Reporte Consolidado
                td()
                td()
                td() Pantallas AGS(Pedido y Recepción)
                td()
                td()    
             tr
                td(colspan="2" align="center") TOTAL DOCUMENTOS
                td(colspan="4" align="center")
    container
    div &nbsp;
    div &nbsp;
        table(border="1" width='100%')
            tr
                td() Asimismo, le informo que la factura fue validada en sus conceptos precisos e importe total.
            tr
                td() Sin otro particular de momento le envio un cordial saludo.
            tr
                td() &nbsp;
            tr
                td() Atentamente.
            tr
                td() &nbsp;
            tr
                td() Lic. Ariel Suarez Salazar
            tr
                td() Administrador de Destino de Bienes "2"
            tr
                td() &nbsp;
            tr
                td() &nbsp;
            tr
                td() Av.Hidalgo No.77 Modulo VIII,3° piso Col. Guerrero, Delegacion  Cuahutémoc. CP: 06300, México DF
            tr
                td() Tel 58 02 08 03 sat.gob.mx         youtube.com/satmx         twitter.com/satmx
            
    div &nbsp;
    div &nbsp;
    div &nbsp;
    div &nbsp;
    footer
<button onClick="window.print()" >Imprimir</button>    