//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
doctype
html
  head
    title #{title} Reporte
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    -for (var reporte in reportes) {
    -reporteEnCurso = reportes[reporte];
    -ordenesServicio = reporteEnCurso.ordenesServicio;
    
    -totBruto = reporteEnCurso.totCotizado - reporteEnCurso.totDeduccion;
    -totBrutoIva = totBruto * reporteEnCurso.iva;
    -totBrutoRet4 = totBruto * 0.04;
    
    .container
    div
        table(cellspacing="5" width='100%')
            tr
                td(align="center")  <img src="https://cdn.oem.com.mx/elsoldeparral/2018/01/SHCP-615x346.jpg" height="200" width="400"/>  <img src="https://tramitesdigitales.sat.gob.mx/SIPRED.Monitor.Externo/images/logoH_col.svg" height="200" width="200"/>
            tr
                td(align="right") Administracion General de Recursos y Servicios. <br> Administracion Central de Destino de Bienes. <br> Administracion de Destino de Bienes
    .container
        table(border="0" width='100%' style="font-size:12px;")
            tr
                td(width='100') Oficio
                td(width='700') #{reporteEnCurso.contrato + '-' + fYear + '-' + noOficio}
                td()
            tr
                td(width='100') Asunto
                td(width='700') Se remite documentacion para pago FACLA
                td()
            tr
                td(width='100')
                td(width='700')
                td(align="right") Ciudad de México, #{genDate}
            tr
                td(width='800' colspan="2") Lic. Gloria del Socorro López Esquivel
                td(align="right")
            tr
                td(width='800' colspan="2") Administradora  de Fideicomisos "4".
                td(align="right")
            tr
                td(width='800' colspan="2") P r e s e n t e.
                td(align="right")
      


    .container
        table(border="0" width='100%'  style="font-size:12px;")
            tr
                td(width='100') En relacion con el "Servicio Lógisico para la Operacion de las Autoridades Aduaneras, Fiscales y Administrativas 2017-2019" que se paga mediante el Fideicomiso Público para Administrar la Contraprestacion del Articulo 16 de la Ley Aduanera , anexo remito a usted el Reporte Consolidaddo de Recepcion de Servicios , así como los documentos comprobatorios e informacion que a continuacion se detalla, a efecto de que tenga a bien tramitar el pago.
        div &nbsp;
        div &nbsp;
    .container
        table(border="1" width='100%'  style="font-size:12px;")
            tr
                td(width='25%') No. Id Proyecto #{reporteEnCurso.idProyecto}
                td(width='25%') No. Id Acuerdo #{reporteEnCurso.idAcuerdo} 
                td(width='25%') No. Id Provedor #{reporteEnCurso.idPrestadorServicio}
                td(width='25%') No. Id Contrato  #{reporteEnCurso.idContrato}
            tr
                td(width='25%') Nombre del Beneficiario
                td(width='75%' colspan="3") #{reporteEnCurso.razonSocial}
            tr
                td(width='25%') #{reporteEnCurso.ejercido}
                td(width='75%' colspan="3") #{reporteEnCurso.ejercidoTexto}
       


    .container
        table(border="1" width='100%'  style="font-size:12px;")
            -var serviciosAgrupados = reporteEnCurso.serviciosAgrupados;
            -for (var servicioAgrupado in serviciosAgrupados) {
            -var servicioEnCurso = serviciosAgrupados[servicioAgrupado];
            tr
                td() Tipo Servicio
                td() Factura
                td() No. ID Pedido
                td() No. ID Recepción
                td(colspan="2") Importe por Factura
            tr
                td(rowspan="4") #{servicioEnCurso.tipoServicio}
                td(rowspan="4") #{factura}
                td() #{noIdPedido}
                td() #{noIdRecepcion}
                td() #{servicioEnCurso.totalFinal}
                td() #{servicioEnCurso.totalFinalTexto}
            tr
                td(colspan="2") IVA
                td() #{servicioEnCurso.totalFinalIva}
                td() #{servicioEnCurso.totalFinalIvaTexto}
            tr
                td(colspan="2") Retención 4%
                td() #{servicioEnCurso.totalFinalRetencion4}
                td() #{servicioEnCurso.totalFinalRetencion4Texto}
            tr
                td(colspan="2") Importe Factura
                td() #{servicioEnCurso.totalResultado}
                td() #{servicioEnCurso.totalResultadoTexto}
            tr
                td() Tipo de Moneda
                td() Pesos
                td() Periodo del Servicio
                td(colspan="3") #{servicioEnCurso.fechaSolicitud}
            -}
            -//--------------------------------------------------------------------------------------------
            -var granTotalAgrupado = reporteEnCurso.granTotalAgrupado
             tr
                td() Tipo Servicio
                td() Factura
                td() No. ID Pedido
                td() No. ID Recepción
                td(colspan="2") Importe por Factura
            tr
                td(rowspan="4") #{granTotalAgrupado.tipoServicio}
                td(rowspan="4") #{factura}
                td() #{noIdPedido}
                td() #{noIdRecepcion}
                td() #{granTotalAgrupado.totalFinal}
                td() #{granTotalAgrupado.totalFinalTexto}
            tr
                td(colspan="2") IVA
                td() #{granTotalAgrupado.totalFinalIva}
                td() #{granTotalAgrupado.totalFinalIvaTexto}
            tr
                td(colspan="2") Retención 4%
                td() #{granTotalAgrupado.totalFinalRetencion4}
                td() #{granTotalAgrupado.totalFinalRetencion4Texto}
            tr
                td(colspan="2") Importe Factura
                td() #{granTotalAgrupado.totalResultado}
                td() #{granTotalAgrupado.totalResultadoTexto}
            tr
                td() Tipo de Moneda
                td() Pesos
                td() Periodo del Servicio
                td(colspan="3") #{granTotalAgrupado.fechaSolicitud}
            -//--------------------------------------------------------------------------------------------

            tr
                td() No. Contrato o Pedido
                td(colspan="5") #{reporteEnCurso.contrato}
            tr
                td() No. Convenio modificatorio
                td(colspan="5") 
            tr
                td() Fecha de recepcion de comprobantes
                td(colspan="2") #{genDate}
                td() Fecha de limite de pago
                td(colspan="2") INMEDIATO
            tr
                td() Capítulo de Gasto
                td(colspan="2") 3000
                td() Tipo de Pago
                td(colspan="2") LICITACION PUBLICA
            tr
                td() Nombre de la unidad Administrativa
                td(colspan="5") 3000 ADMINISTRACION GENERAL DE RECURSOS Y SERVICIOS
            tr
                td(colspan="6" align="center") CANTIDAD TOTAL DE DOCUMENTOS QUE SE ANEXAN
            tr    
                td() Documentos
                td() Original
                td() Copia
                td() Documentos
                td() Original
                td() Copia
            tr    
                td() Factura o Recibo
                td(align="center")
                td(align="center") X CDFI
                td() Acta de Entrega-Recepcion
                td(align="center")
                td(align="center")
            tr    
                td() Contrato
                td(align="center")
                td(align="center")
                td() Póliza de Responsabilidad Civil
                td(align="center")
                td(align="center")
            tr    
                td() Anexo de contrato
                td(align="center")
                td(align="center")
                td() Carta de Defectos  y Vicios Ocultos
                td(align="center")
                td(align="center")
            tr    
                td() Convenio de Confidencialidad
                td(align="center")
                td(align="center")
                td() Fianza de cumplimiento
                td(align="center")
                td(align="center")  
            tr    
                td() Reporte Consolidado
                td(align="center")
                td(align="center") X
                td() Pantallas AGS(Pedido y Recepción)
                td(align="center")
                td(align="center")    
             tr
                td(colspan="2" align="center") TOTAL DOCUMENTOS
                td(colspan="4" align="center") 2

    .container
    div &nbsp;
    div &nbsp;
        table(border="0" width='100%'  style="font-size:12px;")
            tr
                td() Asimismo, le informo que la factura fue validada en sus conceptos precisos e importe total.
            tr
                td() Sin otro particular de momento le envio un cordial saludo.
            tr
                td() &nbsp;
            tr
                td() Atentamente.
            tr
                td() &nbsp;
            tr
                td() Lic. Ariel Suarez Salazar
            tr
                td() Administrador de Destino de Bienes "2"
            tr
                td() &nbsp;
            tr
                td() &nbsp;
            tr
                td() c.c.p.-Lic. Veronica Díaz Oliveros Vallariano, Administradora Central de Bienes.- Para su conocimiento
            tr
                td() c.c.p.-Lic. Alberto López Flores Flores,Administrador Central de Fideicomisos.- Para su conocimiento
            tr
                td() &nbsp;
            tr
                td() Av.Hidalgo No.77 Modulo VIII,3° piso Col. Guerrero, Delegacion  Cuahutémoc. CP: 06300, México DF
            tr
                td() Tel 58 02 08 03 sat.gob.mx         youtube.com/satmx         twitter.com/satmx
            
    .container
    table(width="100%" border="1"  style="font-size:9px;")
        tr
            td(width="200") Nombre/Puesto
            td #{firmaNombre}
        tr
            td EFirma
            td #{firma}
    .container
    div &nbsp;
    div &nbsp;
    div &nbsp;
    div &nbsp;
    
    
    -}
    footer
<button onClick="window.print()" >Imprimir</button>    