-var dateObj = new Date();
-var month = dateObj.getUTCMonth() + 1; //months from 1-12
-var day = dateObj.getUTCDate();
-var year = dateObj.getUTCFullYear();
doctype
html
  head
    title #{title} Reporte
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
    p #{year + "/" + month + "/" + day}     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  #{nombreAutoridad} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #{tipoReporte} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #{llaveOrdenMensual}
    .container
    div
            table(cellspacing="5" width='100%')
                tr
                    td(width='200') <img src="https://tramitesdigitales.sat.gob.mx/SIPRED.Monitor.Externo/images/logoH_col.svg" height="200" width="200"/>
                    td(align="center") PREFACTURA SERVICIO LOGÍSTICO PARA LA OPERACIÓN DE LAS  AUTORIDADES ADUANERAS, <br> FISCALES Y ADMINISTRATIVAS 2018
                    
            -for (var orden in ordenes) {
            div
                table(cellspacing="5" width='100%')
                    tr(bgcolor="gray" style="color:white;")
                        td(colspan=2 align="center") #{ordenes[orden].llaveSistema}
                    tr(bgcolor="gray")
                        td(bgcolor="#b2b2b2" width="150") Fecha
                        td(bgcolor="white") #{ordenes[orden].fechaSolicitud}
                    tr(bgcolor="gray")
                        td(bgcolor="#b2b2b2") Domicilio
                        td(bgcolor="white") #{ordenes[orden].domicilio}

                    tr(bgcolor="gray")
                        td(colspan=2 align="center" bgcolor="#b2b2b2" style="color:white;") Servicios;
                    tr
                        td(colspan=2)

                            table(cellspacing="2" width='100%')
                                tr(bgcolor="gray")
                                        td(bgcolor="#cecece") Id Servicio
                                        td(bgcolor="#cecece") Servicio
                                        td(bgcolor="#cecece") Unidad
                                        td(bgcolor="#cecece") Cantidad
                                        td(bgcolor="#cecece") Precio Unitario
                                        td(bgcolor="#cecece") Cotizacion
                                        td(bgcolor="#cecece") Deduccion
                                        td(bgcolor="#cecece") Total

                                 -for (var servicio in ordenes[orden].servicios) {
                                    tr
                                        td(bgcolor="#dbdbdb")  #{ordenes[orden].servicios[servicio].ID_SERVICIO_COTIZACION}
                                        td(bgcolor="#dbdbdb")  #{ordenes[orden].servicios[servicio].NOMBRE_SERVICIO}
                                        td(bgcolor="#dbdbdb")  #{ordenes[orden].servicios[servicio].UNIDAD}
                                        td(bgcolor="#dbdbdb")  #{ordenes[orden].servicios[servicio].CANTIDAD}
                                        td(bgcolor="#dbdbdb")  #{ordenes[orden].servicios[servicio].PRECIO_UNITARIO}
                                        td(bgcolor="#dbdbdb")  #{ordenes[orden].servicios[servicio].COTIZACION}
                                        td(bgcolor="#dbdbdb")  #{ordenes[orden].servicios[servicio].DEDUCCION}
                                        td  &nbsp;
                                 -}
                                    tr
                                        td  &nbsp;
                                        td  &nbsp;
                                        td  &nbsp;
                                        td  &nbsp;
                                        td  &nbsp;
                                        td(bgcolor="#dbdbdb")  #{ordenes[orden].cotizacion}
                                        td(bgcolor="#dbdbdb")  #{ordenes[orden].deducciones}
                                        td(bgcolor="#dbdbdb")  #{ordenes[orden].total}
                      table(cellspacing="5" width='100%')
                        tr(bgcolor="gray")
                            td(bgcolor="#cecece" width='20%') #{ordenes[orden].textoFirmaGenerador}:  #{ordenes[orden].firmaGeneradorNombre}
                            td(bgcolor="#dbdbdb" width='80%' style='word-wrap:break-word;max-width:150px;') #{ordenes[orden].firmaGenerador}
                        tr(bgcolor="gray")
                            td(bgcolor="#cecece" width='20%') #{ordenes[orden].textoFirmaRevisor}:  #{ordenes[orden].firmaRevisorNombre}
                            td(bgcolor="#dbdbdb" width='80%' style='word-wrap:break-word;max-width:150px;') #{ordenes[orden].firmaRevisor}
        div &nbsp;
        -}
                       
                           
    div &nbsp;


    .container
     div
            table(cellspacing="5" width='100%')
                        tr(bgcolor="gray")
                            td(bgcolor="#cecece" width='20%') Usuario generador de prefactura:
                            td(bgcolor="#dbdbdb" width='80%' style='word-wrap:break-word;max-width:150px;') #{userName}
                        tr(bgcolor="gray")
                            td(bgcolor="#cecece" width='20%') Firma:
                            td(bgcolor="#dbdbdb" width='80%' style='word-wrap:break-word;max-width:150px;') #{eFirma}

    div &nbsp;
    div &nbsp;
    div &nbsp;
    div &nbsp;
    .container
    div
            table(cellspacing="5" width='100%')
                tr
                    td(align="center") ______________________________________
                tr
                    td(align="center")          Firma de Autoridad


    footer
<button onClick="window.print()" >Imprimir</button>    

